
{:paths ["source-code/cljs"]
 :deps  {cljs-ajax/cljs-ajax       {:mvn/version "0.8.0"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "82522d536881f4797834788271f1d1c2aab56d55"}
         bithandshake/dom-api      {:git/url "https://github.com/bithandshake/dom-api"
                                    :sha     "c8053e147a1414541ccf94f3157cf9cc68b8e143"}
         bithandshake/re-frame-api {:git/url "https://github.com/bithandshake/re-frame-api"
                                    :sha     "3b57bd721cca4cbb8e68962b8f6ec203315b045f"}}}
