
{:paths ["source-code/cljs"]
 :deps  {cljs-ajax/cljs-ajax       {:mvn/version "0.8.0"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "3d9f5bc58857d4dfa6656376e8db30c0e0ffd3bd"}
         bithandshake/dom-api      {:git/url "https://github.com/bithandshake/dom-api"
                                    :sha     "6036c96f99fc5de89cf92c5e3766b9435bc4db56"}
         bithandshake/re-frame-api {:git/url "https://github.com/bithandshake/re-frame-api"
                                    :sha     "3aae6f2888fcc2d7769436a0d77b05fc0c6e4a05"}}}
